<a href="https://colab.research.google.com/github/Neilvaldrez/OOP-58002/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

for loop through string

In [ ]:
for x in "week":
  print(x)

W
e
e
k

for loop using break statement

In [ ]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

to only display Thursday

In [ ]:
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

range() function

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2,6+1,2):
  print(x)

2
4
6

nested loop

In [ ]:
adjective = ["red", "big", "tasty"]
fruits =  ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

while loop

In [ ]:
i = 1 
while i <= 6:
  print(i)
  i+=1

1
2
3
4
5
6

while loop using break statement

In [ ]:
i = 1 
while i <= 6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

display only 3

In [ ]:
Was not able to copy

Application 1

In [ ]:
i = 1
while i <= 10:
  print("Hello", i)
  i+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [ ]:
for x in range(3,10,1):
  print(x)

3
4
5
6
7
8
9